# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db